<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>регистрация</h2>
<form action ='/register/' method = 'POST'>
    <p>
        <label for = 'last_name'>фамилия:</label>
        <input type  = 'text' name = 'last_name' id = last_name>
    </p>
    <p>
        <label for = 'name'>имя:</label>
        <input type ='text' name ='name' id ='name'>
    </p>
    <p>
        <label for = 'patronymic'>очество:</label>
        <input type ='text' name ='name' id ='name'>
    </p>
    <input type = 'submit' value = 'отправить'>
</form>


</body>
</html>