<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Волшебный шар</p>

<img src = '/static/img/{{range(0,30) | random}}.png' width="256" height="256">

<div style = 'width: 300px ;'>
    {% for k, v in oracle.items() %}
        <p style =  ' color: #{{ oracle_color}}'>{{ k }}: {{ v }}</p>
    {% endfor %}
</div>

<hr width = 300 align = 'left'>

<p>количество полученых предсказаний:{{prediction_counter}}</p>

<button onClick = 'window.location.reload();'>еще предсказаний!</button>
</body>
</html>